<h1><%= @list.name %></h1>

<% @bookmarks.each do |bookmark| %>
<ul>
  <li>Movie: <%= bookmark.movie.title %></li>
  <li><%= bookmark.comment %></li>
</ul>
<% end %>


<h2>You can add another below:</h2>
<%= simple_form_for([@list, @bookmark]) do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit "Add it on" %>
<% end %>
